/LandingProject/.vs/LandingProject/v16/.suo
/LandingProject/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/LandingProject/obj/Debug/netstandard2.0/LandingProject.AssemblyInfo.cs
/LandingProject/obj/Debug/netstandard2.0/LandingProject.AssemblyInfoInputs.cache
/LandingProject/obj/Debug/netstandard2.0/LandingProject.assets.cache
/LandingProject/obj/Debug/netstandard2.0/LandingProject.csprojAssemblyReference.cache
/LandingProject/obj/LandingProject.csproj.nuget.dgspec.json
/LandingProject/obj/LandingProject.csproj.nuget.g.props
/LandingProject/obj/LandingProject.csproj.nuget.g.targets
/LandingProject/obj/project.assets.json
/LandingProject/obj/project.nuget.cache
/LandingProjectUnitTests/bin/Debug/net461/*.dll
/LandingProjectUnitTests/obj/Debug/net461/LandingProjectUnitTests.AssemblyInfo.cs
/LandingProjectUnitTests/obj/Debug/net461/LandingProjectUnitTests.AssemblyInfoInputs.cache
/LandingProjectUnitTests/obj/Debug/net461/LandingProjectUnitTests.assets.cache
/LandingProjectUnitTests/obj/Debug/net461/LandingProjectUnitTests.csproj.CopyComplete
/LandingProjectUnitTests/obj/Debug/net461/LandingProjectUnitTests.csprojAssemblyReference.cache
/LandingProjectUnitTests/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/LandingProjectUnitTests/obj/Debug/netstandard2.0/LandingProjectUnitTests.AssemblyInfo.cs
/LandingProjectUnitTests/obj/Debug/netstandard2.0/LandingProjectUnitTests.AssemblyInfoInputs.cache
/LandingProjectUnitTests/obj/Debug/netstandard2.0/LandingProjectUnitTests.assets.cache
/LandingProjectUnitTests/obj/Debug/netstandard2.0/LandingProjectUnitTests.csprojAssemblyReference.cache
/LandingProjectUnitTests/obj/LandingProjectUnitTests.csproj.nuget.dgspec.json
/LandingProjectUnitTests/obj/LandingProjectUnitTests.csproj.nuget.g.props
/LandingProjectUnitTests/obj/LandingProjectUnitTests.csproj.nuget.g.targets
/LandingProjectUnitTests/obj/project.assets.json
/LandingProjectUnitTests/obj/project.nuget.cache
